.superset-wrapper {
  display: flex;
  &:not(:last-child) {
    margin-bottom: var(--margin);
  }
  > :first-child {
    flex-grow: 1;
  }

  > button {
    background-color: var(--light-red);
    color: var(--dark-red);
  }
}

.add-buttons {
  margin: var(--margin) 0;

  > button {
    width: 50%;

    &:first-child {
      background-color: var(--table-1);
    }
  }
}

.create-workout {
  width: 100%;
  font-size: 1.5em;
  margin: var(--margin) 0;
}
