<h1>{{ "workouts.new.title" | translate }}</h1>
<form [formGroup]="form">
  <div>
    <gym-text-input
      [label]="'workouts.new.name' | translate"
      formControlName="name"
      [errorMessage]="'workouts.new.nameError' | translate"
    />
  </div>
  <div>
    <h2>{{ "exercises.title" | translate }}</h2>
    @for (exercise of exercises; track exercise.id) {
      @if (isExercise(exercise)) {
        <div class="exercise-wrapper">
          <gym-exercise [exercise]="asExercise(exercise)" />
          <button class="thick" (click)="onEditExercise(asExercise(exercise))">
            <gym-icon icon="pencil" />
          </button>
          <button class="thick" (click)="onAskDeleteExercise($index)">
            <gym-icon icon="trashbin" />
          </button>
        </div>
      } @else {
        <div class="superset-wrapper">
          <gym-superset-editor
            [baseSuperset]="asSuperset(exercise)"
            [exerciseTypes]="exerciseTypes()"
            (newExerciseType)="onGetNewExerciseType($event)"
            (superset)="onGetSuperset($event, $index)"
            [showError]="firstSubmitClick()"
          />
          <button class="thick" (click)="onAskDeleteSuperset($index)">
            <gym-icon icon="trashbin" />
          </button>
        </div>
      }
    }
    @if (exercises.length === 0 && !exerciseEditorVisible()) {
      <div>{{ "exercises.empty" | translate }}</div>
    }
    @if (showExerciseListError) {
      <div class="error">{{ "workouts.new.error" | translate }}</div>
    }
    <gym-exercise-editor
      [baseExercise]="editingExercise()"
      [exerciseTypes]="exerciseTypes()"
      [(open)]="exerciseEditorVisible"
      (exercise)="onGetExercise($event)"
    />
    <div class="add-buttons">
      <button (click)="showExerciseEditor()">
        {{ "exercises.add" | translate }}
      </button>
      <button (click)="addSuperset()">
        {{ "exercises.addSuperset" | translate }}
      </button>
    </div>
  </div>
  <button (click)="onSubmitWorkout($event)" class="create-workout">
    {{ "workouts.new.add" | translate }}
  </button>
</form>
<gym-delete-warning-dialog
  [(open)]="showAskDeleteExercise"
  [whatToDelete]="deleteSuperset() ? 'superset' : 'exercise'"
  (delete)="onDeleteExercise()"
/>
