:host {
  display: flex;
  flex-direction: column;
  background-color: var(--table-1);
  padding: 5px;

  > header {
    display: flex;
    > gym-exercise-image {
      margin-right: 10px;
      --size-multiplier: 0.5;
    }
    > .exercise-data {
      > .exercise-name {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
      > .exercise-icons {
        gym-icon {
          font-size: 1.25em;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  > .exercise-sets {
    display: flex;
    flex-wrap: wrap;

    > .set-wrapper {
      margin-top: 10px;
      display: flex;
      &:not(:last-child) {
        margin-right: 10px;
      }

      > :first-child {
        padding: 5px;
        background-color: var(--light-green);
        font-size: 0.75em;
        color: var(--dark-green);
      }
    }
  }
}
