:host {
  box-shadow: 0px 0px var(--padding) 0px var(--background-color);
}

footer {
  width: 100%;
  display: flex;
  background-color: var(--info-dark);
  color: var(--info-light);
  justify-content: space-around;
  font-size: 1.5rem;
  box-sizing: border-box;
  > div {
    padding: var(--padding) 0;
    flex-grow: 1;
    text-align: center;

    &.active {
      background-color: var(--info-light);
      color: var(--info-dark);
    }
  }
}

:host-context(.executing) {
  .execution {
    background-color: var(--dark-turquoise);
    color: var(--light-turquoise);

    &.active {
      background-color: var(--light-turquoise);
      color: var(--dark-turquoise);
    }
  }
}
