@if (showExecutionPreview()) {
  <gym-execution-preview routerLink="execution" />
}
<footer>
  <div routerLink="workouts" routerLinkActive="active">
    <gym-icon icon="list" />
  </div>
  <div routerLink="execution" routerLinkActive="active" class="execution">
    <gym-icon icon="lift" />
  </div>
  <div routerLink="stopwatch" routerLinkActive="active">
    <gym-icon icon="stopwatch" />
  </div>
  <div routerLink="timer" routerLinkActive="active">
    <gym-icon icon="hourglass" />
  </div>
  <div routerLink="configuration" routerLinkActive="active">
    <gym-icon icon="gear" />
  </div>
</footer>
