:host {
  box-shadow: 0px 0px var(--padding) 0px var(--background-color);
}

footer {
  width: 100%;
  display: flex;
  background-color: var(--dark-cyan);
  color: var(--light-cyan);
  justify-content: space-evenly;
  font-size: 1.5rem;
  box-sizing: border-box;
  > div {
    padding: var(--padding) 0;
    flex-grow: 1;
    text-align: center;

    &.active {
      background-color: var(--light-cyan);
      color: var(--dark-cyan);
    }

    &.executing {
      color: var(--light-green);

      &.active {
        background-color: var(--dark-green);
        color: var(--light-green);
      }
    }
  }
}

:host-context(.executing) {
  .execution {
    color: var(--light-green);

    &.active {
      background-color: var(--light-green);
      color: var(--dark-green);
    }
  }
}
