<h2>
  {{
    "execution.setOf"
      | translate: { number: setIndex() + 1, total: exercise().sets.length }
  }}
</h2>
<div class="exercise-data">
  <header>
    <gym-exercise-image
      [src]="exercise().type!.image!"
      [alt]="exercise().type!.name"
    />
    <h1>{{ exercise().type!.name }}</h1>
  </header>
  <gym-ongoing-set
    [set]="set()"
    [progressType]="exercise().progressType"
    [weighted]="exercise().weighted"
    [weightType]="exercise().weightType"
  />
</div>
<gym-execution-actions
  elementKey="exercise"
  [isLastSet]="isLastSet()"
  [isLastExercise]="isLastExercise()"
  [restingTime]="exercise().restingTime"
  [timerId]="timerId()"
/>
