.exercise-data {
  background-color: var(--table-1);
  padding: var(--padding);
  > header {
    text-align: center;

    > gym-exercise-image {
      margin: 0 auto;
      --size-multiplier: 1.5;
    }

    > h1 {
      word-break: break-all;
    }
  }

  > gym-switch {
    --table-1: var(--dark-pink);
    --table-2: var(--dark-red);
  }
}
