<div [formGroup]="form">
  @if (exerciseTypes().length > 0) {
    <gym-exercise-type-dialog
      [(open)]="showExerciseTypeDialog"
      [exerciseTypes]="exerciseTypes()"
      (select)="onSelectExerciseType($event)"
    />
    @if (!exerciseType && !showNewExerciseTypeForm()) {
      <button (click)="onOpenExerciseTypeDialog()">
        {{ "exerciseTypes.setter.existing" | translate }}
      </button>
      or
      <button (click)="onShowNewExerciseTypeForm()">
        {{ "exerciseTypes.setter.create" | translate }}
      </button>
      @if (showError()) {
        <p class="error">
          {{ "exerciseTypes.setter.error" | translate }}
        </p>
      }
    } @else {
      @if (showNewExerciseTypeForm()) {
        <gym-new-exercise-type formGroupName="newExerciseType" />

        <button (click)="onOpenExerciseTypeDialog()">
          {{ "exerciseTypes.setter.existingInstead" | translate }}
        </button>
      } @else {
        <gym-exercise-type [type]="exerciseType!" />
        <button (click)="onOpenExerciseTypeDialog()">
          {{ "exerciseTypes.setter.change" | translate }}
        </button>
        or
        <button (click)="onShowNewExerciseTypeForm()">
          {{ "exerciseTypes.setter.create" | translate }}
        </button>
      }
    }
  } @else {
    <gym-new-exercise-type formGroupName="newExerciseType" />
  }
</div>
