<div [formGroup]="form">
  @if (exerciseTypes().length > 0) {
    <gym-exercise-type-dialog
      [(open)]="showExerciseTypeDialog"
      [exerciseTypes]="exerciseTypes()"
      (select)="onSelectExerciseType($event)"
    />
    @if (!exerciseType && !showNewExerciseTypeForm()) {
      <div class="actions">
        <button (click)="onOpenExerciseTypeDialog()">
          {{ "exerciseTypes.setter.existing" | translate }}
        </button>
        or
        <button (click)="onShowNewExerciseTypeForm()">
          {{ "exerciseTypes.setter.create" | translate }}
        </button>
      </div>
      @if (showError()) {
        <div class="error">
          {{ "exerciseTypes.setter.error" | translate }}
        </div>
      }
    } @else {
      @if (showNewExerciseTypeForm()) {
        <gym-new-exercise-type formGroupName="newExerciseType" />
        <div class="actions">
          <button (click)="onOpenExerciseTypeDialog()">
            {{ "exerciseTypes.setter.existingInstead" | translate }}
          </button>
        </div>
      } @else {
        <gym-exercise-type [type]="exerciseType!" />
        <div class="actions">
          <button (click)="onOpenExerciseTypeDialog()">
            {{ "exerciseTypes.setter.change" | translate }}
          </button>
          or
          <button (click)="onShowNewExerciseTypeForm()">
            {{ "exerciseTypes.setter.create" | translate }}
          </button>
        </div>
      }
    }
  } @else {
    <gym-new-exercise-type formGroupName="newExerciseType" />
  }
</div>
