.image-input {
  display: flex;
  .image-buttons {
    display: flex;
    flex-direction: column;
    margin-left: var(--margin);
    justify-content: space-evenly;

    > :first-child {
      & + * {
        background-color: var(--light-red);
        color: var(--dark-red);
      }
    }
  }
}

:host {
  > div {
    > div {
      margin: var(--margin) 0;
    }
  }
}

.error {
  display: inline-block;
}
