<div [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div>
    <gym-text-input
      formControlName="name"
      [label]="'exerciseTypes.new.name' | translate"
      [errorMessage]="'exerciseTypes.new.error' | translate"
    />
  </div>
  <div class="image-input">
    <gym-exercise-image [src]="src" [alt]="name" />
    <div class="image-buttons">
      @if (src) {
        <button (click)="onLoadImage()">
          {{ "exerciseTypes.new.image.change" | translate }}
        </button>
        <button (click)="onDeleteImage()">
          {{ "exerciseTypes.new.image.delete" | translate }}
        </button>
      } @else {
        <button (click)="onLoadImage()">
          {{ "exerciseTypes.new.image.add" | translate }}
        </button>
      }
    </div>
  </div>
</div>
