:host {
  --font-size: 3em;

  .separator {
    font-size: var(--font-size);
    padding: 0 var(--padding);
  }

  form {
    margin: calc(2 * var(--margin)) 0;
    display: flex;
    justify-content: center;
  }
}
