<h1>{{ "timer.title" | translate }}</h1>
<section class="watch-wrapper">
  @if (status() === "stop") {
    <div class="watch">
      <div class="time-editor" (click)="timeEditorDialogVisible.set(true)">
        <gym-watch [time]="timeToRun()" [hideCentiseconds]="true" />
        <gym-icon icon="pencil" />
      </div>
    </div>
    <gym-time-editor-dialog
      [(open)]="timeEditorDialogVisible"
      [value]="secondsToRun()"
      (valueChange)="setTime($event * 1000)"
    />
  } @else {
    <div class="watch">
      <gym-watch [time]="splittedTime()" [paused]="status() === 'pause'" />
    </div>
  }
</section>
<section class="actions">
  @switch (status()) {
    @case ("play") {
      <button (click)="onStop()"><gym-icon icon="stop" /></button>
      <button (click)="onPause()">
        <gym-icon icon="pause" />
      </button>
    }
    @case ("pause") {
      <button (click)="onStop()"><gym-icon icon="stop" /></button>
      <button (click)="onPlay()">
        <gym-icon icon="play" />
      </button>
    }
    @case ("stop") {
      @if (millisecondsToRun() > 0) {
        <button (click)="onPlay()">
          <gym-icon icon="play" />
        </button>
      }
    }
  }
</section>
