:host {
  --size: 1.5em;

  .sets-editor {
    overflow-x: auto;
    display: flex;
    color: white;

    > * {
      margin-top: calc(var(--size) / 2);
      margin-bottom: var(--size);
    }

    .set-container {
      display: inline-block;
      position: relative;
      background-color: var(--set-background-color);

      .index {
        position: absolute;
        transform: translateY(-50%);
        top: 0;
        left: 0;
        background-color: var(--set-background-color);
        width: var(--size);
        height: var(--size);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .delete-set-button {
        bottom: calc(var(--size) * -1);
        right: 5px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
      }
    }

    .add-set-button {
      height: 100%;
    }
  }
}
