<h3>{{ "sets.editor.title" | translate }}</h3>
<div [formGroup]="form">
  <div class="sets-editor" #setsEditor formArrayName="sets">
    @for (set of sets.controls; track set.controls["id"]) {
      <div
        class="set-container"
        [style]="{
          '--set-background-color': $even ? 'var(--table-1)' : 'var(--table-2)',
        }"
      >
        <span class="index">{{ $index + 1 }}</span>
        <gym-set-editor
          [formGroup]="getSetForm($index)"
          [weighted]="weighted()"
          [weightType]="weightType()"
          [progressType]="progressType()"
        />
        @if ($count > 1) {
          <button (click)="onDeleteSet($index)" class="delete-set-button error">
            <gym-icon icon="times" />
          </button>
        }
      </div>
    }
    <div>
      <button (click)="onAddSet()" class="add-set-button thick success">
        <gym-icon icon="+" />
      </button>
    </div>
  </div>
</div>

@if (invalidWeight()) {
  <div class="error">
    {{ "sets.editor.weightError" | translate }}
  </div>
}
@if (invalidRepetitions()) {
  <div class="error">
    {{ "sets.editor.repetitionsError" | translate }}
  </div>
}
