:host {
  display: flex;
  align-items: center;
  gym-exercise-image {
    --size-multiplier: 0.75;
    margin-right: var(--margin);
  }
  > .name {
    word-break: break-all;
    min-width: 10%;
  }
}
