<gym-back-link>{{ "workouts.backLinks.workouts" | translate }}</gym-back-link>
<header>
  <div class="info">
    <h1>{{ workout?.name }}</h1>
    <div>
      @if (workout?.lastExecution) {
        {{ "workouts.detail.lastExecution" | translate }}
        {{ workout?.lastExecution | date: "yyyy/MM/dd" }}
      } @else {
        {{ "workouts.detail.neverExecuted" | translate }}
      }
    </div>
  </div>
  <div class="actions">
    <button
      class="success"
      (click)="onStartWorkout()"
      [disabled]="isExecuting()"
    >
      <gym-icon icon="play" />
    </button>
    <div>
      <button class="info" routerLink="edit" [disabled]="isExecuting()">
        <gym-icon icon="pencil" />
      </button>
      <button
        class="error"
        (click)="onAskDeleteWorkout()"
        [disabled]="isExecuting()"
      >
        <gym-icon icon="trashbin" />
      </button>
    </div>
  </div>
</header>
<section>
  <h2>{{ "exercises.title" | translate }}</h2>
  <div class="exercises">
    @for (exercise of workout?.exercises; track exercise.id) {
      @if (isExercise(exercise)) {
        <gym-exercise [exercise]="asExercise(exercise)" />
      } @else {
        <div class="superset-wrapper">
          <div>
            @for (
              supersetExercise of asSuperset(exercise).exercises;
              track supersetExercise.id
            ) {
              <gym-exercise [exercise]="supersetExercise" />
            }
          </div>
        </div>
      }
    }
  </div>
</section>
<gym-delete-warning-dialog
  [(open)]="showAskDeleteWorkout"
  whatToDelete="workout"
  (delete)="onDeleteWorkout()"
/>
