.exercises > *:not(:last-child) {
  margin-bottom: var(--margin);
}

header {
  display: flex;
  > .info {
    flex-grow: 1;
  }
  > .actions {
    > button {
      font-size: 2em;
      height: 3em;
      width: 3em;
    }
    > div {
      display: flex;

      > button {
        flex-grow: 1;
      }
    }

    button:disabled {
      opacity: 0.5;
    }
  }
}

h1 {
  word-break: break-all;
}

section {
  margin-bottom: var(--margin);
}
