:host {
  --size: 1.5em;
  display: flex;
  align-items: center;
  margin: var(--margin);

  > gym-icon {
    margin-right: var(--margin);
  }

  > input {
    width: calc(var(--size) * 1.5);
    height: var(--size);
    border: 0;
    text-align: center;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 1em;
  }

  > label {
    height: var(--size);
    display: inline-flex;
    align-items: center;
    margin-left: var(--margin);
  }
}
:host {
  &.ng-invalid {
    > input {
      background-color: var(--error-text);
    }
  }
}
