<div class="time">
  @if (formattedHours()) {
    <span class="digits">{{ formattedHours() }}</span>
    <span class="separator">:</span>
  }
  <span class="digits">{{ formattedMinutes() }}</span>
  <span class="separator">:</span>
  <span class="digits">{{ formattedSeconds() }}</span>
  @if (!hideCentiseconds()) {
    <span class="separator small">.</span>
    <span class="digits small">{{ formattedCentiseconds() }}</span>
  }
</div>
<div class="shadow">
  @if (formattedHours()) {
    <span class="digits">{{ getComplement(formattedHours()!) }}</span>
    <span class="separator">:_comp</span>
  }
  <span class="digits">{{ getComplement(formattedMinutes()) }}</span>
  <span class="separator">:_comp</span>
  <span class="digits">{{ getComplement(formattedSeconds()) }}</span>
  @if (!hideCentiseconds()) {
    <span class="separator small">._comp</span>
    <span class="digits small">{{
      getComplement(formattedCentiseconds())
    }}</span>
  }
</div>
