.switch-option {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;

  > gym-icon {
    margin-bottom: var(--padding);
  }
}

section {
  margin: calc(2 * var(--margin)) 0;
}

.resting-time-container {
  display: flex;
  align-items: center;

  gym-icon {
    margin-right: var(--margin);
  }
}
