:host {
  .image-input {
    display: flex;
    margin: var(--margin) 0;
    .image-buttons {
      display: flex;
      flex-direction: column;
      margin-left: var(--margin);
      justify-content: space-evenly;
    }
  }
}
