.warning {
  display: flex;
  margin-left: 0;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

button {
  background-color: transparent;
  color: var(--warning-text);
  height: fit-content;
}
