<div class="set-form" [formGroup]="form">
  @if (weighted()) {
    <gym-set-editor-input
      formControlName="weight"
      [icon]="weightType() === 'total' ? 'dumbbell' : 'halfdumbbell'"
      [label]="weightUnit()"
    />
  }
  @if (failure) {
    <div class="failure">
      <gym-icon
        [icon]="progressType() === 'repetitions' ? 'repeat' : 'hourglass'"
      />
      {{ "exercises.editor.sets.failure" | translate }}
    </div>
  } @else {
    @if (progressType() === "repetitions") {
      <gym-set-editor-input
        formControlName="repetitions"
        icon="repeat"
        label="reps"
      />
    } @else {
      <gym-set-editor-time-input formControlName="time" />
    }
  }
  <button (click)="onChangeFailure()" class="info">
    {{ failureChangeKey | translate }}
  </button>
</div>
