<h1>{{ "configuration.title" | translate }}</h1>
<section>
  <div>{{ "configuration.weightUnit" | translate }}</div>
  <gym-switch
    [options]="{
      on: 'kg',
      off: 'lb',
    }"
    [(ngModel)]="weightUnit"
  >
    <span ngProjectAs="on-option"> kg </span>
    <span ngProjectAs="off-option"> lb </span>
  </gym-switch>
</section>
<section>
  <div>{{ "configuration.language" | translate }}</div>
  <gym-select [options]="availableLanguages" [(ngModel)]="language">
    <ng-template let-option>
      <span>{{ "configuration." + option | translate }}</span>
    </ng-template>
  </gym-select>
</section>
<section>
  <div>{{ "configuration.timerSound" | translate }}</div>
  <gym-switch
    [options]="{
      on: true,
      off: false,
    }"
    [(ngModel)]="timerSound"
  >
    <gym-icon ngProjectAs="off-option" icon="mute" />
    <gym-icon ngProjectAs="on-option" icon="sound" />
  </gym-switch>
</section>
