:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-body {
    overflow: auto;
    flex-grow: 1;
    background-color: var(--background-color);

    > div {
      margin: 0 var(--margin);
      height: 100%;
      box-sizing: border-box;
      padding: 0.1px 0;
    }
  }
  &.executing.in-execution {
    --background-color: var(--dark-green);
    --table-1: var(--dark-turquoise);
    --table-2: var(--dark-green);
  }
}
