<div class="time">
  @if (formattedHours()) {
    @for (char of formattedHours(); track char) {
      <span class="digit">{{ char }}</span>
    }
    <span class="separator">:</span>
  }
  <span class="digit">{{ formattedMinutes()[0] }}</span>
  <span class="digit">{{ formattedMinutes()[1] }}</span>
  <span class="separator">:</span>
  <span class="digit">{{ formattedSeconds()[0] }}</span>
  <span class="digit">{{ formattedSeconds()[1] }}</span>
  <span class="separator small">.</span>
  <span class="digit small">{{ formattedCentiseconds()[0] }}</span>
  <span class="digit small">{{ formattedCentiseconds()[1] }}</span>
</div>
<div class="shadow">
  @if (formattedHours()) {
    @for (char of formattedHours(); track char) {
      <span class="digit">{{ char }}_comp</span>
    }
    <span class="separator">:_comp</span>
  }
  <span class="digit">{{ formattedMinutes()[0] }}_comp</span>
  <span class="digit">{{ formattedMinutes()[1] }}_comp</span>
  <span class="separator">:_comp</span>
  <span class="digit">{{ formattedSeconds()[0] }}_comp</span>
  <span class="digit">{{ formattedSeconds()[1] }}_comp</span>
  <span class="separator small">._comp</span>
  <span class="digit small">{{ formattedCentiseconds()[0] }}_comp</span>
  <span class="digit small">{{ formattedCentiseconds()[1] }}_comp</span>
</div>
