<div class="exercise-data">
  <gym-exercise-image
    [src]="exercise().type!.image!"
    [alt]="exercise().type!.name"
  />
  <div class="exercise-name">
    {{ exercise().type!.name }}
    @if (exercise().remark) {
      <br />
      <gym-icon
        [icon]="exercise().remark === 'failed' ? 'thumbsdown' : 'increase'"
      />
    }
  </div>
</div>
<div class="set-count">
  @if (exercise().sets.length > 1) {
    {{ exercise().sets.length }} {{ "execution.sets" | translate }}
  } @else {
    {{ "execution.oneSet" | translate }}
  }
</div>
