.add-buttons {
  margin: var(--margin) 0;
  display: flex;

  > button {
    width: calc(100% / 3);
    background-color: var(--table-1);

    &:nth-child(2) {
      background-color: var(--table-2);
    }
  }
}

.create-workout {
  width: 100%;
  font-size: 1.5em;
  margin: var(--margin) 0;
  display: block;
}
