<div class="workout-data">
  <header>{{ workout().name }}</header>
  <div>
    <div>
      @if (exerciseCount() > 1) {
        {{ exerciseCount() }}
        {{ "workouts.preview.exercises" | translate }}
      } @else {
        {{ "workouts.preview.oneExercise" | translate }}
      }
    </div>
    <div>
      @if (workout().lastExecution) {
        {{ workout().lastExecution | date: "yyyy/MM/dd" }}
      } @else {
        {{ "workouts.preview.neverExecuted" | translate }}
      }
    </div>
  </div>
</div>
<div class="exercises">
  @for (exercise of workout().exercises; track exercise.id) {
    @if (isExercise(exercise)) {
      <div class="exercise-name">{{ asExercise(exercise).type!.name }}</div>
    } @else {
      @for (
        supersetExercise of asSuperset(exercise).exercises;
        track supersetExercise.id
      ) {
        <div class="exercise-name">{{ supersetExercise.type!.name }}</div>
      }
    }
  }
</div>
