:host {
  background-color: var(--table-1);
  display: block;
  padding: var(--padding);

  > .workout-data {
    > header {
      font-size: 1.5em;
      word-break: break-all;
    }

    > div {
      > * {
        display: inline;
      }
      > :last-child {
        float: right;
      }
    }
  }

  > .exercises {
    max-height: 60px;
    --exercises-padding: calc(var(--padding) / 2);
    background-color: var(--table-2);
    padding: var(--exercises-padding);
    overflow-y: hidden;
    position: relative;
    box-sizing: border-box;
    animation: detect-scroll linear;
    animation-timeline: scroll(self);
    --original-box-shadow: inset 0px calc(-1.5 * var(--margin))
      calc(0.5 * var(--margin)) calc(-1 * var(--margin)) var(--table-1);
    --box-shadow-can-scroll: var(--can-scroll) var(--original-box-shadow);
    --box-shadow-cant-scroll: none;
    --box-shadow: var(--box-shadow-can-scroll, var(--box-shadow-cant-scroll));

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: var(--box-shadow);
    }

    .exercise-name {
      font-size: 0.75em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;

      &:not(:last-child) {
        margin-bottom: var(--exercises-padding);
      }
    }
  }
}

@keyframes detect-scroll {
  from,
  to {
    --can-scroll: ;
  }
}
