.exercise-type-wrapper {
  display: flex;

  gym-exercise-type {
    flex-grow: 1;
    background-color: var(--table-1);
    padding: var(--padding);
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: var(--margin);
  }
}
