:host {
  padding: var(--padding);
  background-color: var(--table-1);
  display: block;

  > *:not(:last-child) {
    margin-bottom: var(--padding);
  }

  gym-exercise-image {
    --size-multiplier: 0.5;
    margin-right: var(--margin);
  }

  > .exercises {
    > .exercise {
      margin-bottom: var(--padding);
      display: flex;
      align-items: center;

      > .exercise-name {
        font-size: 1.5em;
        word-break: break-all;
      }
    }
  }

  > .set-count {
    text-align: right;
  }
}
