@if (restingStart()) {
  <div class="timer-wrapper">
    <gym-icon icon="rest" />
    <gym-timer
      [startingTime]="restingStart()!"
      [millisecondsToFinish]="restingTime() * 1000"
    />
  </div>
  <div class="secondary-actions">
    <button class="skip-rest" (click)="onSkipRest()">
      <gym-icon icon="skip" />
      <div>
        @if (!isLastSet()) {
          {{ "execution.skipRest" | translate }}
        } @else {
          {{
            "execution.skipRestFinish"
              | translate: { whatToFinish: _elementKey() | translate }
          }}
        }
      </div>
    </button>
  </div>
} @else {
  <button class="finish" (click)="onRest()">
    <gym-icon icon="rest" />
    <div>
      @if (isLastSet()) {
        {{
          "execution.finishExercise"
            | translate: { whatToFinish: _elementKey() | translate }
        }}
      } @else {
        {{ "execution.finishSet" | translate }}
      }
    </div>
  </button>
  <div class="secondary-actions">
    <button class="abandon" (click)="onAbandonExercise()">
      <gym-icon icon="exit" />
      <div>
        {{
          "execution.abandonExercise"
            | translate: { whatToAbandon: _elementKey() | translate }
        }}
      </div>
    </button>
    @if (!isLastSet()) {
      <button class="skip-exercise" (click)="onSkipExercise()">
        <gym-icon icon="skip" />
        <div>
          {{
            "execution.skipExercise"
              | translate: { whatToSkip: _elementKey() | translate }
          }}
        </div>
      </button>
    }
  </div>
}
