:host {
  margin: var(--margin) 0;
  display: block;
  width: 100%;

  .timer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--success-light);
    color: var(--success-dark);
    padding: var(--padding);

    gym-icon {
      font-size: 3em;
    }
    gym-timer {
      font-size: 2em;
    }
  }

  button {
    width: 100%;
    font-size: 2em;
  }

  .secondary-actions {
    display: flex;
    button {
      font-size: 1em;
    }
  }

  gym-icon {
    margin-bottom: var(--padding);
  }
  .abandon,
  .skip-rest {
    background-color: var(--light-yellow);
    color: var(--dark-yellow);
  }

  .finish {
    font-size: 2em;
  }
}
