@if (restingStart()) {
  <div class="timer-wrapper">
    <gym-icon icon="rest" />
    <gym-timer
      [startingTime]="restingStart()!"
      [millisecondsToFinish]="restingTime() * 1000"
    />
  </div>
  <div class="secondary-actions">
    <button class="skip-rest" (click)="onSkipRest()">
      <gym-icon icon="skip" />
      <div>
        {{ skipRestKey() | translate }}
      </div>
    </button>
  </div>
} @else {
  <button class="finish" (click)="onRest()">
    <gym-icon icon="rest" />
    <div>
      {{ finishSetKey() | translate }}
    </div>
  </button>
  <div class="secondary-actions">
    <button class="abandon" (click)="onAbandonExercise()">
      <gym-icon icon="exit" />
      <div>
        {{ abandonKey() | translate }}
      </div>
    </button>
    @if (!isLastSet()) {
      <button class="skip-exercise" (click)="onSkipExercise()">
        <gym-icon icon="skip" />
        <div>
          {{ skipExerciseKey() | translate }}
        </div>
      </button>
    }
  </div>
}
