:host {
  --size: 5em;
  --size-multiplier: 1;
  --image-size: 100px;
  --icon-size: var(--size);
  background-color: white;
  border: var(--border-width) solid var(--table-2);
  height: calc(var(--image-size) * var(--size-multiplier));
  width: calc(var(--image-size) * var(--size-multiplier));
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: calc(var(--image-size) * var(--size-multiplier));
    max-height: calc(var(--image-size) * var(--size-multiplier));
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--image-size) * var(--size-multiplier));
    width: calc(var(--image-size) * var(--size-multiplier));

    gym-icon {
      font-size: calc(var(--icon-size) * var(--size-multiplier));
      color: var(--table-2);
    }
  }
}
