<div class="exercises-names">
  @for (exercise of exercises(); track exercise.id) {
    <div>
      {{ exercise.type!.name }}
    </div>
  }
</div>
@if (restingStart()) {
  <div class="resting-time">
    <gym-timer
      [timerId]="timerId()"
      [millisecondsToRun]="exercises()[0].restingTime * 1000"
      [notificationText]="'execution.restingTimerFinished' | translate"
      (stop)="onFinishRest()"
    />
    <gym-icon icon="rest" />
  </div>
} @else {
  <div class="sets">
    @for (set of setTexts(); track $index) {
      <div>{{ set }}</div>
    }
  </div>
}
