:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--padding);

  > .exercises-names {
    overflow: hidden;
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > .sets {
    text-align: right;
    font-style: italic;
  }

  > .resting-time {
    display: flex;
    justify-content: end;
    align-items: center;
    gym-icon {
      font-size: 1em;
      margin-left: var(--margin);
    }
  }
}
