<gym-dialog [(open)]="open">
  <form [formGroup]="form">
    <h2>{{ titleKey() | translate }}</h2>
    <section>
      <header>{{ "exercises.editor.exerciseType.header" | translate }}</header>
      <gym-exercise-type-editor
        formGroupName="type"
        [exerciseTypes]="exerciseTypes()"
        [showError]="showError"
      />
    </section>
    <section>
      <header>{{ "exercises.editor.weighted.header" | translate }}</header>
      <gym-switch
        [options]="{
          on: true,
          off: false,
        }"
        formControlName="weighted"
      >
        <span ngProjectAs="on-option" class="switch-option">
          <gym-icon icon="dumbell" />
          {{ "exercises.editor.weighted.weighted" | translate }}
        </span>
        <span ngProjectAs="off-option" class="switch-option">
          <gym-icon icon="notdumbell" />
          {{ "exercises.editor.weighted.weightless" | translate }}
        </span>
      </gym-switch>
    </section>
    @if (weighted) {
      <section>
        <header>{{ "exercises.editor.weightType.header" | translate }}</header>
        <gym-switch
          [options]="{
            on: 'total',
            off: 'side',
          }"
          formControlName="weightType"
        >
          <span ngProjectAs="on-option" class="switch-option">
            <gym-icon icon="dumbell" />
            {{ "exercises.editor.weightType.total" | translate }}
          </span>
          <span ngProjectAs="off-option" class="switch-option">
            <gym-icon icon="halfdumbell" />
            {{ "exercises.editor.weightType.side" | translate }}
          </span>
        </gym-switch>
      </section>
    }
    <section>
      <header>{{ "exercises.editor.progressType.header" | translate }}</header>
      <gym-switch
        [options]="{
          on: 'repetitions',
          off: 'time',
        }"
        formControlName="progressType"
      >
        <span ngProjectAs="on-option" class="switch-option">
          <gym-icon icon="repeat" />
          {{ "exercises.editor.progressType.repetitions" | translate }}
        </span>
        <span ngProjectAs="off-option" class="switch-option">
          <gym-icon icon="timer" />
          {{ "exercises.editor.progressType.time" | translate }}
        </span>
      </gym-switch>
    </section>
    <section>
      @if (showSupersetSetsWarning()) {
        <div class="warning">
          <button (click)="onHideSupersetSetsWarning()">
            <gym-icon icon="times" />
          </button>
          {{ "exercises.editor.supersetsWarning" | translate }}
        </div>
      }
      <gym-sets-editor
        formGroupName="sets"
        [weighted]="weighted!"
        [weightType]="weightType!"
        [progressType]="progressType!"
      />
    </section>
    <section>
      <header>{{ "exercises.editor.restingTime.header" | translate }}</header>
      <gym-time-input formControlName="restingTime" />
    </section>

    @if (showError) {
      <p class="error">
        {{ "exercises.editor.error" | translate }}
      </p>
    }
    <button (click)="onSubmitExercise()">
      {{ submitKey() | translate }}
    </button>
  </form>
</gym-dialog>
