.switch-option {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;

  > gym-icon {
    margin-bottom: var(--padding);
  }
}

section {
  margin: calc(2 * var(--margin)) 0;
}

.warning {
  position: relative;
  margin-top: var(--margin);
  margin-bottom: var(--margin);

  button {
    position: absolute;
    display: flex;
    transform: translate(-100%, calc(-1 * var(--margin)));
    background-color: transparent;
    color: var(--light-yellow);
  }
}
