:host {
  --size: 1.5em;
  display: flex;
  align-items: center;
  margin: var(--margin);

  > gym-icon {
    margin-right: var(--margin);
  }

  > .value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 3);
    height: var(--size);
    background-color: white;
    color: black;
    cursor: pointer;
  }
}
