.choose-exercise {
  > section {
    > * {
      margin-bottom: var(--margin);
    }
  }
}

h1 {
  text-align: center;
  word-wrap: break-word;
}

.actions {
  > button {
    width: 100%;
    background-color: var(--light-red);
    color: var(--dark-red);
  }
}

.abandon-actions {
  float: right;
  > button:first-child {
    background-color: var(--dark-turquoise);
    color: white;
  }
  > button:last-child {
    background-color: var(--light-red);
    color: var(--dark-red);
  }
}

.execution-message {
  text-align: center;
  margin-top: var(--big-margin);

  > button {
    margin-top: var(--margin);
  }
}

.completed-exercise {
  display: flex;
  > :first-child {
    flex-grow: 1;
  }

  > button {
    background-color: var(--light-green);
    color: var(--dark-green);
  }
}
