@if (execution()) {
  @if (workoutFinished()) {
    <div class="execution-message">
      {{ "execution.workoutFinished" | translate }}
    </div>
  } @else {
    @if (mustChooseExercise()) {
      <div class="choose-exercise">
        <h1>{{ workout()!.name }}</h1>
        <h2>
          {{ "execution.chooseExercise" | translate }}
        </h2>
        <section>
          @for (exercise of doneAndToDoExercises().toDo; track exercise.id) {
            @if (isExercise(exercise)) {
              <gym-exercise
                [exercise]="asExercise(exercise)"
                (click)="onChooseExercise(exercise.id)"
              />
            } @else {
              <div
                class="superset-wrapper"
                (click)="onChooseExercise(exercise.id)"
              >
                <div>
                  <div>
                    {{
                      "execution.supersetOf"
                        | translate
                          : { count: asSuperset(exercise).exercises.length }
                    }}
                  </div>
                  @for (
                    supersetExercise of asSuperset(exercise).exercises;
                    track supersetExercise.id
                  ) {
                    <gym-exercise [exercise]="supersetExercise" />
                  }
                </div>
              </div>
            }
          }
        </section>
        @if (doneAndToDoExercises().done.length > 0) {
          <h3>{{ "execution.completedExercises" | translate }}</h3>
          <section>
            @for (exercise of doneAndToDoExercises().done; track exercise.id) {
              @if (isExercise(exercise)) {
                <div class="exercise-wrapper">
                  <gym-exercise [exercise]="asExercise(exercise)" />
                  <button
                    class="thick success"
                    (click)="onRedoExercise(exercise.id)"
                  >
                    <gym-icon icon="repeat" />
                  </button>
                </div>
              } @else {
                <div class="superset-wrapper">
                  <div>
                    <div>
                      {{
                        "execution.supersetOf"
                          | translate
                            : { count: asSuperset(exercise).exercises.length }
                      }}
                    </div>
                    @for (
                      supersetExercise of asSuperset(exercise).exercises;
                      track supersetExercise.id
                    ) {
                      <gym-exercise [exercise]="supersetExercise" />
                    }
                  </div>
                  <button
                    class="thick success"
                    (click)="onRedoExercise(exercise.id)"
                  >
                    <gym-icon icon="repeat" />
                  </button>
                </div>
              }
            }
          </section>
        }
        <div class="actions">
          <button (click)="onAskLeaveWorkout()" class="error">
            <div>
              <gym-icon icon="exit" />
            </div>
            {{ "execution.abandonWorkout" | translate }}
          </button>
        </div>
      </div>
      <gym-dialog [(open)]="showAskLeaveWorkout" [alert]="true">
        <header>
          {{ "execution.abandonWorkoutDialog.title" | translate }}
        </header>
        <p>
          {{ "execution.abandonWorkoutDialog.text" | translate }}
        </p>
        <div class="dialog-actions">
          <button (click)="showAskLeaveWorkout.set(false)">
            {{ "execution.abandonWorkoutDialog.cancel" | translate }}</button
          >&nbsp;
          <button (click)="onLeaveWorkout()" class="error">
            {{ "execution.abandonWorkoutDialog.abandon" | translate }}
          </button>
        </div>
      </gym-dialog>
    } @else {
      @if (isExercise(ongoingExercise()!)) {
        <gym-ongoing-exercise
          [exercise]="asExercise(ongoingExercise()!)"
          [isLastExercise]="isLastExercise()"
          [timerId]="TIMER_ID"
        />
      } @else {
        <gym-ongoing-superset
          [superset]="asSuperset(ongoingExercise()!)"
          [isLastExercise]="isLastExercise()"
          [timerId]="TIMER_ID"
        />
      }
    }
  }
} @else {
  <div class="execution-message">
    {{ "execution.noWorkoutExecuting" | translate }}
    <br />
    <button routerLink="/workouts" [replaceUrl]="true">
      <div><gym-icon icon="list" /></div>
      {{ "execution.chooseWorkout" | translate }}
    </button>
  </div>
}
