.choose-exercise {
  > section {
    > * {
      margin-bottom: var(--margin);
    }
  }
}

h1 {
  text-align: center;
  word-wrap: break-word;
}

.actions {
  margin-bottom: var(--margin);
  > button {
    width: 100%;
  }
}

.execution-message {
  text-align: center;
  margin-top: var(--big-margin);

  > button {
    margin-top: var(--margin);
  }
}
