@if (execution()) {
  @if (workoutFinished()) {
    WORKOUT FINISHED
  } @else {
    @if (mustChooseExercise()) {
      <div class="choose-exercise">
        <h1>
          {{ "execution.chooseExercise" | translate }}
        </h1>
        <section>
          @for (exercise of workout()!.exercises; track exercise.id) {
            @if (isExercise(exercise)) {
              <gym-exercise-option
                [exercise]="asExercise(exercise)"
                (click)="onChooseExercise(exercise.id)"
              />
            } @else {
              <gym-superset-option
                [superset]="asSuperset(exercise)"
                (click)="onChooseExercise(exercise.id)"
              />
            }
          }
        </section>
      </div>
    } @else {
      @if (isExercise(ongoingExercise()!)) {
        <gym-ongoing-exercise [exercise]="asExercise(ongoingExercise()!)" />
      } @else {
        <gym-ongoing-superset [superset]="asSuperset(ongoingExercise()!)" />
      }
    }
  }
}
