:host {
  display: flex;
  flex-direction: column;
  background-color: var(--table-1);
  padding: var(--padding);

  > header {
    display: flex;
    > gym-exercise-image {
      margin-right: var(--margin);
      --size-multiplier: 0.5;
    }
    > .exercise-data {
      > .exercise-name {
        font-size: 1.5em;
        margin-bottom: var(--margin);
        word-break: break-all;
      }
      > .exercise-icons {
        gym-icon {
          font-size: 1.25em;
          &:not(:last-child) {
            margin-right: var(--margin);
          }
          &.remark {
            color: var(--error-text);
          }
        }
      }
    }
  }

  > .exercise-sets {
    display: flex;
    flex-wrap: wrap;

    > .set-wrapper {
      margin-top: var(--margin);
      display: flex;
      &:not(:last-child) {
        margin-right: var(--margin);
      }

      > :first-child {
        padding: var(--padding);
        background-color: var(--success-light);
        color: var(--success-dark);
        font-size: 0.75em;
      }
    }
  }

  > .resting-time {
    margin-top: var(--margin);
    display: flex;
    align-items: center;
    > gym-icon {
      margin-right: var(--margin);
    }
  }
}
