* {
  font-family: sans-serif;
}

html {
  --dark-red: #77172e;
  --light-red: #faafa8;
  --dark-orange: #692b17;
  --light-orange: #f39f76;
  --dark-yellow: #7c4a03;
  --light-yellow: #fff8b8;
  --dark-green: #264d3b;
  --light-green: #e2f6d3;
  --dark-turquoise: #0c625d;
  --light-turquoise: #b4ddd3;
  --dark-cyan: #256377;
  --light-cyan: #d4e4ed;
  --dark-blue: #284255;
  --light-blue: #aeccdc;
  --dark-purple: #472e5b;
  --light-purple: #d3bfdb;
  --dark-pink: #6c394f;
  --light-pink: #f6e2dd;
  --dark-sand: #4b443a;
  --light-sand: #e9e3d4;
  --dark-gray: #232427;
  --light-gray: #efeff1;
  --black: #202124;
  --input-shade: rgba(255, 255, 255, 0.05);
  --table-1: var(--dark-blue);
  --table-2: var(--dark-cyan);
  --error-light: var(--light-red);
  --error-dark: var(--dark-red);
  --success-light: var(--light-green);
  --success-dark: var(--dark-green);
  --info-light: var(--light-cyan);
  --info-dark: var(--dark-cyan);
  --error-text: var(--light-red);
  --warning-text: var(--light-yellow);
  --background-color: var(--black);
  --padding: 5px;
  --margin: 10px;
  --big-margin: 200px;
  --border-width: 5px;
  background-color: var(--background-color);
  color: white;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: gymIcons;
  src: url(./Gym-Icons.ttf);
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-size: 1em;
  background-color: var(--table-2);
  padding: var(--padding);
  color: white;

  &.error {
    background-color: var(--error-light);
    color: var(--error-dark);
  }

  &.success {
    background-color: var(--success-light);
    color: var(--success-dark);
  }

  &.info {
    background-color: var(--info-light);
    color: var(--info-dark);
  }

  &.thick {
    padding: calc(2 * var(--padding));
  }
}

.dialog-actions {
  float: right;
}

input {
  border: 0;
  outline: none;
}

:not(button).error {
  color: var(--error-text);
  font-style: italic;
  font-size: 0.75em;
  margin-left: var(--margin);
}

:not(button).warning {
  color: var(--warning-text);
  font-style: italic;
  font-size: 0.75em;
  margin-left: var(--margin);
}

.exercise-wrapper {
  display: flex;
  &:not(:last-child) {
    margin-bottom: var(--margin);
  }
  > :first-child {
    flex-grow: 1;
  }
}

.superset-wrapper {
  display: flex;

  &:not(:last-child) {
    margin-bottom: var(--margin);
  }

  > :first-child {
    flex-grow: 1;
    padding: var(--padding);
    background-color: var(--table-2);
    > :not(:last-child) {
      margin-bottom: var(--padding);
    }
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
