* {
  font-family: sans-serif;
}

html {
  --dark-red: #77172e;
  --light-red: #faafa8;
  --dark-green: #264d3b;
  --light-green: #e2f6d3;
  --dark-turquoise: #0c625d;
  --light-turquoise: #b4ddd3;
  --dark-yellow: #7c4a03;
  --light-yellow: #fff8b8;
  --dark-orange: #692b17;
  --light-orange: #f39f76;
  --dark-purple: #472e5b;
  --light-purple: #d3bfdb;
  --dark-cyan: #256377;
  --light-cyan: #d4e4ed;
  --dark-blue: #284255;
  --light-blue: #aeccdc;
  --black: #202124;
  --table-1: var(--dark-blue);
  --table-2: var(--dark-cyan);
  --padding: 5px;
  --margin: 10px;
  --border-width: 5px;
  --background-color: var(--black);
  background-color: var(--background-color);
  color: white;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: gymIcons;
  src: url(/Gym-Icons.ttf);
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-size: 1em;
  background-color: var(--table-2);
  padding: var(--padding);
  color: white;
}

input {
  border: 0;
  outline: none;
}

.error {
  color: var(--light-red);
  font-style: italic;
  font-size: 0.75em;
  margin-left: var(--margin);
}

.warning {
  color: var(--light-yellow);
  font-style: italic;
  font-size: 0.75em;
  margin-left: var(--margin);
}

.exercise-wrapper {
  display: flex;
  &:not(:last-child) {
    margin-bottom: var(--margin);
  }
  > :first-child {
    flex-grow: 1;
  }

  > button:first-of-type {
    background-color: var(--light-cyan);
    color: var(--dark-cyan);
  }

  > button:last-of-type {
    background-color: var(--light-red);
    color: var(--dark-red);
  }
}

button.thick {
  padding: calc(2 * var(--padding));
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
