<div class="set-wrapper">
  <div class="set">
    @if (weighted()) {
      <gym-icon
        [icon]="weightType() === 'total' ? 'dumbbell' : 'halfdumbbell'"
      />
      {{ set().weight }} {{ weightUnit() }}
    }
    <br />
    <gym-icon
      [icon]="progressType() === 'repetitions' ? 'repeat' : 'hourglass'"
    />
    @if (set().failure) {
      {{ "execution.failure" | translate }}
    } @else {
      @if (progressType() === "repetitions") {
        {{ set().repetitions }} reps
      } @else {
        {{ set().time | time }}
      }
    }
  </div>
  @if (progressType() === "time" && !set().failure) {
    <div class="actions">
      <button (click)="onRunTimer()">
        <div>
          <gym-icon icon="hourglass" />
          <gym-icon icon="play" />
        </div>
        {{ "execution.runTimer" | translate }}
      </button>
    </div>
  }
  @if (nextSet()) {
    <div class="next-set">
      <div>{{ "execution.nextSet" | translate }}</div>
      @if (weighted()) {
        <gym-icon
          [icon]="weightType() === 'total' ? 'dumbbell' : 'halfdumbbell'"
        />
        {{ nextSet()!.weight }} {{ weightUnit() }}
      }
      <br />
      <gym-icon
        [icon]="progressType() === 'repetitions' ? 'repeat' : 'hourglass'"
      />
      @if (nextSet()!.failure) {
        {{ "execution.failure" | translate }}
      } @else {
        @if (progressType() === "repetitions") {
          {{ nextSet()!.repetitions }} reps
        } @else {
          {{ nextSet()!.time | time }}
        }
      }
    </div>
  }
</div>

@if (progressType() === "time") {
  <gym-timer-dialog
    [(open)]="showTimer"
    [secondsToFinish]="set().time"
    timerId="exercise-timer"
    [notificationText]="'execution.exerciseTimerFinished' | translate"
  />
}
