.workouts-container {
  > * {
    margin-bottom: var(--margin);

    gym-workout-preview {
      cursor: pointer;
    }
  }
}

section:not(:first-child) {
  margin-top: calc(2 * var(--margin));
}
h1 {
  display: flex;
  justify-content: space-between;

  gym-icon {
    font-size: 1em;
    cursor: pointer;
  }
}
