<h1>
  {{ "workouts.title" | translate }}

  @if (!isExecuting()) {
    <gym-icon icon="+" routerLink="new" />
  }
</h1>
<section>
  <div class="workouts-container">
    @for (workout of workouts(); track workout.id) {
      <div [routerLink]="workout.id.toString()">
        <gym-workout-preview [workout]="workout" />
      </div>
    } @empty {
      <div>{{ "workouts.empty" | translate }}</div>
    }
  </div>
</section>
<section class="actions">
  @if (hasExerciseTypes()) {
    @if (!isExecuting()) {
      <button (click)="onShowManageExerciseTypes()">
        <gym-icon icon="pencil" />
        <br />
        {{ "workouts.manageExerciseTypes" | translate }}
      </button>
    }
    <button (click)="onExportData()">
      <gym-icon icon="export" />
      <br />
      {{ "workouts.export" | translate }}
    </button>
    <gym-exercise-type-manager [(open)]="manageExerciseTypesVisible" />
  } @else {
    <button (click)="onImportData()">
      <gym-icon icon="import" />
      <br />
      {{ "workouts.import" | translate }}
    </button>
  }
</section>
