.workouts-container {
  > * {
    margin-bottom: var(--margin);

    gym-workout-preview {
      cursor: pointer;
    }
  }
}

section:not(:first-child) {
  margin: calc(2 * var(--margin)) 0;
}
h1 {
  display: flex;
  justify-content: space-between;

  gym-icon {
    font-size: 1em;
    cursor: pointer;
  }
}

.actions {
  display: flex;
  > button {
    flex-grow: 1;
    display: block;
    margin: var(--margin) 0;
    > gym-icon {
      font-size: 2em;
    }

    &:not(:last-of-type) {
      background-color: var(--table-1);
    }
  }
}
