<section>
  <h1>
    {{ "workouts.title" | translate }} <gym-icon icon="+" routerLink="new" />
  </h1>
  <div class="workouts-container">
    @for (workout of workouts(); track workout.id) {
      <div [routerLink]="workout.id.toString()">
        <gym-workout-preview [workout]="workout" />
      </div>
    } @empty {
      <div>{{ "workouts.empty" | translate }}</div>
    }
  </div>
</section>
@if (hasExerciseTypes()) {
  <section class="actions">
    <button (click)="onShowManageExerciseTypes()">
      {{ "workouts.manageExerciseTypes" | translate }}
    </button>
  </section>
  <gym-exercise-type-manager [(open)]="manageExerciseTypesVisible" />
}
