:host {
  font-style: italic;
  margin: var(--margin) 0;
  cursor: pointer;
  width: fit-content;
  display: block;

  gym-icon {
    font-size: 1em;
    font-style: initial;
    margin-right: var(--padding);
  }
}
