<header>
  <gym-exercise-image
    [src]="exercise().type!.image!"
    [alt]="exercise().type!.name"
  />
  <h2>{{ exercise().type!.name }}</h2>
</header>

<gym-switch
  [options]="{
    on: 'increase',
    off: 'failed',
  }"
  [(ngModel)]="remark"
  (ngModelChange)="onRemarkChange($event)"
  [nullable]="true"
>
  <span ngProjectAs="on-option">
    <gym-icon icon="increase" />
  </span>
  <span ngProjectAs="off-option">
    <gym-icon icon="thumbsdown" />
  </span>
</gym-switch>
<gym-ongoing-set
  [set]="set()"
  [progressType]="exercise().progressType"
  [weighted]="exercise().weighted"
  [weightType]="exercise().weightType"
/>
